---
import { getCollection } from "astro:content";
import BlogPreview from "../../components/BlogPreview.svelte";
import AppLayout from "../../layouts/Layout.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);

---

<AppLayout title="Posts">
    <div class="flex justify-center">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 max-w-4xl">
            {posts.map((post, i) => <BlogPreview client:visible {...post.data} href={`/${post.collection}/${post.slug}`} grid={i==0?'col-span-2':``} />)}
        </div>
    </div>
</AppLayout>
