---
import AppLayout from "../components/AppLayout.svelte";
interface Props {
	title: string;
}
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const links = {"/":"Inicio", "/blog/": "Blog", "/about/": "Sobre mí" };
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
			<slot name="head" />
			<title>{title}</title>
		<script>
			import flamethrower from "flamethrower-router";
			const router = flamethrower({
				log: true,
				pageTransitions: true,
				pageTransition:"fade",
				prefetch: "visible",
			});
		</script>
	</head>
	<body data-theme="gold-nouveau">
		<AppLayout
			client:visible
			socialMedia={{
				facebook: new URL(
					"https://www.facebook.com/people/Adan-FJ-Oficial/61552076938560/",
				),
				youtube: new URL(
					"https://www.youtube.com/channel/UCIGFE-morCmQsJ93ypV94ww"
				),
				twitch: new URL(
					"https://www.twitch.tv/adan_fj"
				),
				instagram: new URL(
					"https://instagram.com/adanf.j/"
				)
			}}
			links={links}
			currentPath={currentPath}
		>
			<slot name="body" />
		</AppLayout>
	</body>
</html>
